/* CSS BY Jeanne Tucker */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;  
    --font: "Playfair Display", serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font);
    margin: 0;
    line-height: 1.5;
    hyphens: none;
    word-break: normal;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 2.75rem;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    color: var(--midnight-blue);
}

p {
    color: var(--dark-charcoal);
}
header img {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 2rem 0 0.5rem;
}

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header p {
    font-style: italic;
    padding-bottom: 1rem;
    color: var(--soft-white);
    font-size: 0.85rem;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-color: var(--champagne-gold);
    padding: 0.5rem
}

.nav-bar a {
    text-decoration: none;
    color: var(--midnight-blue);
    padding: 1rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.05rem;
}

section {
    position: relative;
    padding: 0 1rem;
    font-weight: lighter;
    color: var(--dark-charcoal);
}

section p {
    font-size: 0.75rem;
    display: inline-block;
}

hr {
    border: none;
    height: 0.1rem;
    background-color: var(--champagne-gold);
    width: 92%;
    margin: 1rem auto;
}

.welcome {
    padding-top: 2.5rem;
}

article {
    background-color: var(--olive-green);
    color: var(--linen);
    border-radius: 0.35rem;
    padding: 0.65rem;
    margin: 0.75rem 0;
    box-shadow: 0px 0.5px 3px var(--dark-charcoal);
    line-height: 1.55;
}

article p {
    color: var(--linen);
}

article h3 {
    font-weight: bold;
    font-size: 1.25rem;
}

article ul {
    font-size: 0.75rem;
    list-style-type: disc;
    margin-left: 0.75rem;
}

figure {
    border-radius: 0.5rem;
    box-shadow: 0px 0.5px 6px var(--dark-charcoal);
    overflow: hidden;
    text-align: center;
    font-style: italic;
    font-size: 0.75rem;
    padding-bottom: 0.4rem;
    margin: 1rem 0;
    font-weight: lighter;
}

.gallery a.btn {
    display: grid;
    background-color: var(--olive-green);
    text-decoration: none;
    font-weight: bold;
    color: var(--linen);
    text-align: center;
    border-radius: 0.5rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.contact-info {
    background-color: var(--midnight-blue);
    padding: 4rem 0 1.2rem;
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem; 
}
address {
    padding-bottom: 2.5rem;
}

address, #tel, #email, .social {
    text-align: center;
    text-decoration: none;
}

address, #tel {
    color: var(--linen);
}

#email, .social {
    color: var(--champagne-gold);
    font-weight: bold;
}

/* MEDIA QUERY (medium) */
@media all and (min-width: 600px) {

    h1 {
        font-size: 4.45rem;
    }

    h2 {
        font-size: 2.75rem;
        padding-bottom: 1rem;
    }

    header p {
        font-size: 1.4rem;
        padding-bottom: 1.75rem;
    }

    header img {
        width: 35%;
    }

    .nav-bar a {
        font-size: 1.75rem;
    }

    .welcome {
        margin: 0;
        padding: 4rem 2.25rem 1.25rem;
    }

    .welcome p {
        font-size: 1.35rem;
    }
    
    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
        padding: 0.5rem 2.25rem 0;
    }

    .offerings h3 {
        font-size: 2.3rem;
        padding: 0 0.75rem;
    }

    .offerings p {
        font-size: 1.25rem;
        padding: 0 0.75rem 0.5rem;
    }

    #provisions {
        grid-column: 1/2;
    }

    #experiences {
        grid-column: 2/-1;
    }

    #basket {
        grid-column: 1/3;
    }

    article ul {
        padding: 0 1rem;
        font-size: 1.35rem;
    }

    hr {
        margin: 1.5rem auto;
    }

    .gallery {
       padding: 0.5rem 2.2rem 0; 
    }

    .gallery p {
        font-size: 1.3rem;
    }

    figure p {
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
    }

    #images figure img {
        width: 100%;
    }

    #basket-img {
        grid-column: 1/2;
    }

    .gallery a.btn {
        padding: 0.75rem;
        font-size: 1.35rem;
        margin: 0 auto;
    }

    .contact-info {
        font-size: 1.35rem;
    }
}

/* MEDIA QUERY (large) */
@media all and (min-width: 900px) {
header img {
    width: 25%;
    }

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #chef {
        grid-column: 1/2;
    }
    
    #basket-img {
        grid-column: 2/3;
    }
}


/* MEDIA QUERY (xl) */
@media all and (min-width: 1200px) {
    header, main, footer {
        width: 100%;
        min-width: 1200px;
        margin: 0 auto;
    }

    /* header img {
        width: 25%;
    } */

    #images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #tomatoes {
        grid-column: 1/2;
    }

    #olive {
        grid-column: 2/3;
    }

    #table {
        grid-column: 3/4;
    }

    #chef {
        grid-column: 4/5;
    }

    #basket-img {
        grid-column: 5/6;
    }
}




